In [ ]:
import numpy as np

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.

In [ ]:
sum([x for x in range(1000) if x % 3== 0 or x % 5== 0])

233168

Each new term in the Fibonacci sequence is generated by adding the previous two terms. By starting with 1 and 2, the first 10 terms will be:

1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...

By considering the terms in the Fibonacci sequence whose values do not exceed four million, find the sum of the even-valued terms.

In [ ]:
i = 2
seq = [1,2]
sum_even = 2
while (seq[i-1]+seq[i-2]) < 4000000:
    if (seq[i-1]+seq[i-2]) % 2 == 0:
        sum_even += seq[i-1]+seq[i-2]
    seq.append(seq[i-1]+seq[i-2])
    i += 1

The prime factors of 13195 are 5, 7, 13 and 29.

What is the largest prime factor of the number 600851475143 ?

In [ ]:
def calculate_prime_factors(N):
    prime_factors = []
    if N % 2 == 0: prime_factors.append(2)
    while N % 2 == 0:
        N = N // 2
        if N == 1:
            return prime_factors
    for factor in range(3, N + 1, 2):
        if N % factor == 0:
            prime_factors.append(factor)
            while N % factor == 0:
                N = N // factor
                if N == 1:
                    return prime_factors

input_number = 199999
output = calculate_prime_factors(input_number)
print("Prime factors of {} are {}".format(input_number, output))

Prime factors of 199999 are [199999]

A palindromic number reads the same both ways. The largest palindrome made from the product of two 2-digit numbers is 9009 = 91 × 99.

Find the largest palindrome made from the product of two 3-digit numbers.

In [ ]:
palindrome = 0
for i in range(999,99,-1):
    for j in range(999,99,-1):
        product = i * j
        product_to_list = list(str(product))
        reversed_product = [product_to_list[k] for k in range(len(product_to_list)-1, -1, -1)]
        if product_to_list == reversed_product:
            if product > palindrome:
                palindrome = product
print(palindrome)

906609

2520 is the smallest number that can be divided by each of the numbers from 1 to 10 without any remainder.

What is the smallest positive number that is evenly divisible by all of the numbers from 1 to 20?

In [ ]:
i = 1
for k in (range(2, 21)):
    if i % k > 0:
        for j in range(2, 21):
            if (i*j) % k == 0:
                i *= j
                break
print(i)

232792560

The sum of the squares of the first ten natural numbers is, 1^2 + 2^2 + ... + 10^2 = 385

The square of the sum of the first ten natural numbers is, (1 + 2 + ... + 10)^2 = 55^2 = 3025

Hence the difference between the sum of the squares of the first ten natural numbers and the square of the sum is 3025 - 385 = 2640.

Find the difference between the sum of the squares of the first one hundred natural numbers and the square of the sum.

In [ ]:
 square_of_sum = np.sum(np.arange(1,101,1))**2
 sum_of_squares = np.sum(np.arange(1,101,1)**2)
 diff = square_of_sum - sum_of_squares
 print(diff)

25164150

By listing the first six prime numbers: 2, 3, 5, 7, 11, and 13, we can see that the 6th prime is 13.

What is the 10 001st prime number?

In [ ]:
def list_n_primes(n):
    list_of_primes = [2]
    i = 3
    while len(list_of_primes) < n:
        if len(calculate_prime_factors(i)) == 1:
            list_of_primes.append(i)
        i += 2
        print(i)
    print(list_of_primes[-1])
    return list_of_primes

The four adjacent digits in the 1000-digit number that have the greatest product are 9 × 9 × 8 × 9 = 5832.

73167176531330624919225119674426574742355349194934
96983520312774506326239578318016984801869478851843
85861560789112949495459501737958331952853208805511
12540698747158523863050715693290963295227443043557
66896648950445244523161731856403098711121722383113
62229893423380308135336276614282806444486645238749
30358907296290491560440772390713810515859307960866
70172427121883998797908792274921901699720888093776
65727333001053367881220235421809751254540594752243
52584907711670556013604839586446706324415722155397
53697817977846174064955149290862569321978468622482
83972241375657056057490261407972968652414535100474
82166370484403199890008895243450658541227588666881
16427171479924442928230863465674813919123162824586
17866458359124566529476545682848912883142607690042
24219022671055626321111109370544217506941658960408
07198403850962455444362981230987879927244284909188
84580156166097919133875499200524063689912560717606
05886116467109405077541002256983155200055935729725
71636269561882670428252483600823257530420752963450

Find the thirteen adjacent digits in the 1000-digit number that have the greatest product. What is the value of this product?

In [ ]:
huge_number = 7316717653133062491922511967442657474235534919493496983520312774506326239578318016984801869478851843858615607891129494954595017379583319528532088055111254069874715852386305071569329096329522744304355766896648950445244523161731856403098711121722383113622298934233803081353362766142828064444866452387493035890729629049156044077239071381051585930796086670172427121883998797908792274921901699720888093776657273330010533678812202354218097512545405947522435258490771167055601360483958644670632441572215539753697817977846174064955149290862569321978468622482839722413756570560574902614079729686524145351004748216637048440319989000889524345065854122758866688116427171479924442928230863465674813919123162824586178664583591245665294765456828489128831426076900422421902267105562632111110937054421750694165896040807198403850962455444362981230987879927244284909188845801561660979191338754992005240636899125607176060588611646710940507754100225698315520005593572972571636269561882670428252483600823257530420752963450

In [ ]:
huge_number = np.array(list(str(huge_number))).astype('int32')

In [ ]:
product = []
for i in range(huge_number.shape[0]-13):
    product.append(np.prod(huge_number[i:i+13]))
print(np.max(product))

23514624000

In [ ]:
len(product)

987

A Pythagorean triplet is a set of three natural numbers, a < b < c, for which,

a^2 + b^2 = c^2
For example, 3^2 + 4^2 = 9 + 16 = 25 = 52.

There exists exactly one Pythagorean triplet for which a + b + c = 1000.
Find the product abc.

In [ ]:
def findpythagorean():
    for c in range(500):
        for b in range(1,c):
            for a in range(1,b):
                if (a+b+c==1000):
                    if(pow(a,2)+pow(b,2)) ==pow(c,2):
                        print(a,b,c)
                        print(a*b*c)
                        return

In [ ]:
findpythagorean()

375 200 425
31875000

Greedy Knapsack

In [ ]:
max_width = 50
num_items = 20

backpack = np.array([[3,2],[5,4],[7,6],[2,1],[8,5],[4,3],[6,7],[9,9],[1,2],[5,4],[7,6],[8,8],[3,3],[4,5],[6,7],[2,1],[1,2],[5,4],[8,6],[9,8]])
cost = []
for i in range(backpack.shape[0]):
    cost.append(backpack[i,0]/backpack[i,1])
backpack = np.concatenate([backpack,np.array(cost).reshape(-1,1)],axis=1)
max_height = np.sum(backpack[:,0])
max_width = np.sum(backpack[:,1])
x_sorted_asc = backpack[backpack[:, 2].argsort()]
for i in range(x_sorted_asc.shape[0]):
    max_width -= x_sorted_asc[i,1]
    max_height -= x_sorted_asc[i,0]
    if max_width <= 50:
        break
print(max_width)

50.0

The sum of the primes below 10 is 2 + 3 + 5 + 7 = 17.

Find the sum of all the primes below two million.

In [ ]:
def sieve(n):
    numbers = np.arange(1,n+1,2)
    numbers[0] = 2
    i = 0
    while i < numbers.shape[0]:
        intersection = np.intersect1d(np.where(numbers%numbers[i] == 0),np.where(numbers >= numbers[i]**2))
        numbers = np.delete(numbers,intersection)
        i+= 1
    return numbers

In [ ]:
np.sum(sieve(2000000))

array([      2,       3,       5, ..., 1999969, 1999979, 1999993])